Source: python-django-openstack-auth
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-pbr,
               python-setuptools,
               python-sphinx,
Build-Depends-Indep: python-babel,
                     python-coverage,
                     python-django,
                     python-hacking,
                     python-keystoneclient (>= 1:1.1.0),
                     python-mock,
                     python-mox3,
                     python-oslo.config (>= 1:1.9.3),
                     python-oslosphinx (>= 2.5.0),
                     python-six (>= 1.9.0),
                     python-testscenarios,
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/openstack/python-django-openstack-auth.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-django-openstack-auth.git;a=summary
Homepage: http://pypi.python.org/pypi/django_openstack_auth

Package: python-openstack-auth
Architecture: all
Depends: python-django,
         python-keystoneclient (>= 1:1.1.0),
         python-pbr,
         python-oslo.config (>= 1:1.9.3),
         python-six (>= 1.9.0),
         ${misc:Depends},
         ${python:Depends},
Description: Django authentication backend for Openstack
 Django authentication backend for use with the OpenStack Keystone Identity
 backend. This Python module is used by Horizon (the Openstack Dashport web
 GUI) to auth against Keystone.
